<h2>Ingresar Producto</h2>
<form id='form-products'>
  <label>Title <input type='text' name='title' id='title' /></label>
  <label>Description <input type='text' name='description' id='description' /></label>
  <label>Price <input type='number' name='price' id='price' /></label>
  <label>Thumbnail <input type='text' name='thumbnail' id='thumbnail' /></label>
  <label>Code <input type='text' name='code' id='code' /></label>
  <label>Stock <input type='number' name='stock' id='stock' /></label>
  <label>Category <input type='text' name='category' id='category' /></label>
  <input type='submit' value='Ingresar Producto' />
</form>

<h1>Lista de Productos</h1>
<div style='margin-bottom:35px;' id='products-list'>
  {{#each products}}
    <p>ID: {{id}}</p>
    <p>Title: {{title}}</p>
    <p>Description: {{description}}</p>
    <p>Price: $ {{price}}</p>
    <img src='' alt='{{thumbnail}}' />
    <p>Code: {{code}}</p>
    <p>Stock: {{stock}}</p>
    <p>Category: {{category}}</p>
    <button type='button' class='btn btn-danger' onclick='deleteProduct({{id}})'>X</button>
  {{/each}}
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>